#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.card-header > img {
  width: 30rem;
  padding: 3rem;
}

.card-footer > img {
  width: 20rem;
  padding: 3rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 11rem [col-start]);
}

.number {
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem;
  background-color: white;
  transition: 
    transform .2s,
    opacity .15s;
}

.number:hover {
  transform: translateY(.3rem);
}

.number.marked {
  opacity: .5;
}

.number > p {
  margin: 0.4rem;
} 

.title {
  font-weight: 700;
}